@if (isActive()) {
  <k-button type="solid-warn" (click)="stop.emit()">
    <mat-icon>stop</mat-icon>
    <span>{{ 'Stop animation' | translate }}</span>
  </k-button>
} @else {
  <k-button type="solid-primary" (click)="play.emit(target())">
    <mat-icon>play_arrow</mat-icon>
    <span>{{ 'Play animation' | translate }}</span>
  </k-button>
}

<div
  class="tooltip-wrapper"
  [tooltip]="
    (isAnnotationMode() ? '' : 'Animation sequences can only be edited in annotation mode')
      | translate
  "
  tooltipPosition="right"
>
  <k-button
    type="solid-primary"
    (click)="addToSequenceEditor.emit(target())"
    [disabled]="!isAnnotationMode()"
  >
    <mat-icon>playlist_add</mat-icon>
    <span>{{ 'Add to sequence editor' | translate }}</span>
  </k-button>
</div>
